.navbar-brand {
    font-size: 1.75rem;
    font-weight: 700;
    color: #003366;
}
.nav-link {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
}
.nav-link:hover,
.link-bell,
.navbar-brand__head {
    color: #228B22;
}
.btn {
    border-color: rgba(0, 0, 0, 0.65);
}
.btn-primary, .btn:hover{
    border-color: #228B22;
    background-color:#228B22;
}
.btn-primary:hover {
    opacity: 0.8;
}
.btn:hover svg {
    transform: translateX(5px);
    transition: ease-in-out 0.3s;
}


