.navbar-brand {
    font-size: 1.75rem;
    font-weight: 700;
    color: #003366;
}
.nav-link {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
}
.nav-link:hover,
.link-bell,
.navbar-brand__head {
    color: #228B22;
}
.btn-primary, .btn:hover{
    border-color: #228B22;
    background-color:#228B22;
}
.btn-primary:hover {
    opacity: 0.8;
}
.btn:hover {
    background-color: #228B22;
    color: white;
}
.btn:hover svg {
    color: white;
    transform: scale(1.2);
    transition: ease-in-out 0.3s;
}
.navbar .dropdown-menu {
  border-radius: 10px;
  padding: 0.5rem 0;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.navbar .dropdown-menu .dropdown-item {
  padding: 10px 20px;
  transition: background 0.2s, padding-left 0.2s;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
  padding-left: 25px;
  color: #228B22;
}
.navbar-nav .nav-link.show {
    color: #228B22;
}
